# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CSS Tutorial 3.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Jan Bizub\Desktop\CSS Tutorial 3\.idea\.idea.CSS Tutorial 3.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
