# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.tutorial-css.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jan Bizub\Documents\GitHub\tutorial-css\.idea\.idea.tutorial-css.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
